body{
  padding: 10px;
}

.app{
  width: 600px;
  margin: 20px auto;
}

.select{
  width: 150px;
  border: 2px solid coral;
}

.element{
  cursor: pointer;
  font-size: 16px;
  color: blue;
}

.selectedElement {
  color: #1ea7fd ;

}
.error{
  color: red !important;
}